.flex{
    display: flex;
    flex-wrap: wrap;
}
.card{
    background-color: blanchedalmond;
    border-radius: 5pt;
    flex: 1 1 100px;
    padding: 2pt 0 2pt 0;
    margin: 2pt;
    display: grid;
}
.card:hover{
    border: 1px solid black;
    transition: 1s;
}